@import "tailwindcss";
@custom-variant dark (&:is(.dark *));
@import "@namche/design-tokens/styles.css";
@import "@namche/design-tokens/tailwind";
@import "@namche/design-tokens/shadcn";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  height: 100%;
}

body {
  font-family: var(--font-sans);
  font-weight: 500;
  color: var(--text);
  -webkit-font-smoothing: antialiased;
  background: var(--panel);
}
